body {
    margin: 0;
}

/* GUIDE */
.guide__sidebar {
    background-color: red;
    width: 20vw;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
}

.guide {
    display: grid;
    grid-template-columns: 20vw auto;
}

.guide__body {
    grid-column-start: 2;
}

/* NOTE  */

.note__sidebar {
    background-color: green;
    position: fixed;
    right: 0;
    width: 20vw;
}

.note {
    display: grid;
    grid-template-columns: auto 20vw;
}

#main {
    grid-column-start: 1;
    background-color: grey;
}