body {
    margin: 0;
}

.guide {
    display: grid;
    grid-template-columns: 20vw auto;
}

/* GUIDE SIDEBAR */
.guide__sidebar {
    width: 20vw;
    height: 100%;
    position: fixed;

    border-right: 1px beige solid;

    display: grid;
    grid-template-rows: 10vw 5vw 36vw;
}

.guide__header {
    background-color: green;
    grid-row-start: 1;
}

.guide__search {
    background-color: rgb(25, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide__flow {
    background-color: bisque;
    overflow-y: auto;
}

::-webkit-scrollbar {
    /* HIDE SCROLLBAR */
    display: none;
}

.rectangle {
    background-color: blue;
    margin-bottom: 5px;
    height: 150px;
}

/* GUIDE BODY */
.guide__body {
    grid-column-start: 2;
}

.guide__top {
    height: 100px;
}

/* NOTE */
.note__sidebar {
    background-color: green;
    position: absolute;
    right: 0;
    width: 20vw;
}

.sticky {
    position: fixed;
    top: 0;
}

@media only screen and (max-width: 1024px) {
    .note__sidebar {
        display: none;
    }

    div.note {
        grid-template-columns: auto;
    }

}

.note {
    display: grid;
    grid-template-columns: auto 20vw;
}

#main {
    grid-column-start: 1;
}

.note__header {
    background-color: red;
}

.note__content {
    background-color: gray;
}

.note__body {
    width: 85%;
    margin: auto;
    background-color: darkmagenta;
}