body {
    margin: 0;
}

.guide {
    display: grid;
    grid-template-columns: 20vw auto;
}

/* GUIDE SIDEBAR */
.guide__sidebar {
    background-color: red;
    width: 20vw;
    position: fixed;

    display: grid;
    grid-template-rows: 10vw 5vw 85vw;
}

.guide__header {
    background-color: green;
    grid-row-start: 1;
}

.guide__search {
    background-color: rgb(25, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide__flow {
    background-color: bisque;
    overflow-y: scroll;
}

/* GUIDE BODY */
.guide__body {
    grid-column-start: 2;
}

/* NOTE */

.note__sidebar {
    background-color: green;
    position: fixed;
    right: 0;
    width: 20vw;
}

.note {
    display: grid;
    grid-template-columns: auto 20vw;
}

#main {
    grid-column-start: 1;
    background-color: grey;
}